{% extends 'store/main.html' %}
{% load static  %}
{% block content %}
<br><br>
     <section id="services">
         <header class="section-header wow fadeInUp">
          <h3>Our Products</h3>
          <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus, ad pro quaestio laboramus. Ei ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno tridexa panatarel.</p>
        </header>
       <div class="row">

           {% for product in products %}

           <div class="col-lg-4">
               <img class="thumbnail" src="{{product.imageURL}}">
              <div class="box-element product">
                  <h6><strong>{{product.name}}</strong></h6>
                  <hr>
                  <button data-product="{{product.id}}" data-action="add"
                          class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                  <a class="btn btn-outline-success" href="#">View</a>
                  <h4 style="display: inline-block; float: right">${{product.price|floatformat:2}}</h4>

              </div>
           </div>
           {% endfor %}
       </div>
     </section>

{% endblock content %}